body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;

    background-image: url( 'https://source.unsplash.com/1600x900/?weather');
    font-size: 140%;
}
.card {
    background:linear-gradient(#feac5e, #c779d0, #4bc);

    color: white;
    padding: 2em;
    border-radius: 200px;
    width: 100%;
    max-width: 450px;
    text-align: center;
    margin: 1em;
}
.search {
    display: center;
    align-items:center;
    justify-content:safe;


}
button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    
}
input.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    height: 46px;
    width: calc(100% - 100px);
}
button:hover{
    background: #7c7c7c2b;
}

h1.temp {
margin: 0%;
}
h1.temp.span{
    margin: 10px;
}
.clock{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
